/* General
==============================*/

.headerImage {
  padding-top: 65px;
}


body {
  background-color: #fafafa;
  font-family: 'Open Sans';
}

li {
  padding: 5px;
}

hr {
  color: black;
  height: 5px;
}

/* Headers
==============================*/

h1 {
  text-align: center;
  font-family: 'Oswald';
}

h2 {
  text-align: center;
  font-family: 'Oswald';
  padding-top: 25px;
  padding-bottom: 15px;
}

h3 {
  font-family: 'Open Sans';
}

/* Buttons
==============================*/

.btn {
  background-color: black;
  border: none;
  text-align: center;
}

.btn-default {
  color: white;
}


/* Contact and Footer
==============================*/

.footer-content {
  text-align: center;
}

.contactText {
  font-size: 20px;
}

.contactinfo {
  font-size: 24px;
}
