/* General
==============================*/

.headerImage {
  padding-top: 65px;
}


body {
  background-color: #fafafa;
  font-family: 'Open Sans';
}

li {
  padding: 5px;
}

.panel-group {
  padding-top: 20px;
}

/* Headers
==============================*/

h1 {
  text-align: center;
  font-family: 'Oswald';
}

h2 {
  text-align: center;
  font-family: 'Oswald';
  padding-top: 25px;
  padding-bottom: 15px;
}

h3 {
  font-family: 'Open Sans';
}

/* About Me
==============================*/

.aboutMe {
  margin-top: 20px;
  padding-bottom: 45px;
  background-color: white;
}


/* Buttons
==============================*/

.btn {
  background-color: black;
  border: none;
  text-align: center;
}

.btn-default {
  color: white;
}

/* Images
==============================*/

.carousel-control.left, .carousel-control.right {
    background-image: none
}


/* Contact and Footer
==============================*/

.footer-content {
  text-align: center;
}

.contactText {
  font-size: 20px;
}

.contactinfo {
  font-size: 24px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.form {
  padding: 25px;
  text-align: center;
}
